@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-image: url('https://westeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Falqudscollege-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!jNl8zjJmE0Sm6pzqg6gJnHBSMXDqv6xPmCtbFEnppD87fmdYZuYeS5GxfAL39x60%2Fitems%2F016DGNV4LIOVDB4ZV4KBHZMHWGWXG4ZSTW%3Fversion%3DPublished&encodeFailures=1&ctag=%22c%3A%7B1E467568-BC66-4F50-961E-C6B5CDCCCA76%7D%2C1%22&srcWidth=&srcHeight=&width=880&height=585&action=Access');
    background-repeat: no-repeat;
    background-size: cover;
   
   
}

nav {
    width: 100%;
    height: 4rem;
    background-color: #00000073;
}
h1 {
    color:#fff;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.7rem;
    padding-top: 1rem;
}

form {
    width: 20%;
    height: 25rem;
    background-color:#00000073; ;
    margin: 2rem .2rem 0rem 5rem;
    padding: 1rem 1rem 1rem 1rem;
    float: left;
    color: #fff;
    font-size: 1.2rem;
}

legend { 
    text-align: center;
padding-top: 1.3rem ;
 
}

footer {
    width: 100%;
    height: 2rem;
    background-color: #00000033;
    margin-top: 39.5%;
    margin-bottom: 0rem;
}
 
footer p {
    color:#fff;
    text-align: center;
    
    font-size: 1.2rem;
    padding-top: .5rem;
     
}

.sectiontable {
    width: 50%;
    height: 25rem;
    background-color:#00000073; ;
    margin: 2rem 5rem 0rem 0rem;
    float: right;
    color: #fff;
    font-size: 1.2rem;


}
/* th {
    border: rgba(255, 255, 255, 0.596) solid 2px;
   

} */

table { margin: 2rem 2rem 2rem 2rem ;
        padding: 2rem 1rem 2rem 1rem ;
}


th, tr, td {  padding:  1rem  2rem 1rem 2rem ; 
    border: rgba(255, 255, 255, 0.596) solid 2px;
}
 

.sectiontable p {
  border:  rgba(255, 255, 255, 0.596) solid 2px;
  width: 20%;
  text-align: center;
 padding: .7rem .7rem .7rem .7rem;
 margin-top: 30%;
 margin-left: 1rem;
 position: relative;
  
}

th:first-child, td:nth-child(1) {
padding: 1rem  1rem 1rem 1rem;
}
th:nth-child(2),td:nth-child(2) {
padding: 1rem  1rem 1rem 1rem;
}

th:nth-child(3), td:nth-child(3)  {

padding: 1rem  5rem 1rem 5rem;
}
 
th:nth-child(4), td:nth-child(4)  {
    
padding: 1rem  2rem 1rem 2rem;
}

.submit {
   margin-top: 1.3rem;
    padding: .5rem 6rem .5rem 6rem; ;


} 
input {
    width: 15rem;
    
}
#department {
    width: 15rem;
}
 